@charset "UTF-8";


/*리스트*/
.board-list{
  border-bottom: 1px solid #CCC5B9;
  font-size: 18px;
  margin: 10px 0 10px;
  text-align: center;
  padding-top : 10px;
  padding-bottom: 10px;
}

.faq-border{
	
  margin-top: 0;
  margin-bottom: 0;
  margin-left:5px;
  margin-rigth: 5px;
  border-color: #CCC5B9;
	
}

.boarder-list{
	
	background : 000;
	
}


.faq-text{
	margin: 10px;
	padding-left: 90px;
  padding-right: 90px;

}

