<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newdeal.bikyeo.board.dao.BoardDao">

  <select id="getboardlist" resultType="boardDto">
    select b_Num,b_Subject,b_Content from board
  </select>
  
  <insert id="boardwrite" parameterType="boardDto">
  
	  insert into board (bt_Num, m_Email, b_Subject,b_Content,b_Img,b_hit)
	  VALUES (#{bt_Num},#{m_Email},#{b_Subject},#{b_Content},#{b_Img},b_hit)
  
  
  </insert>
  
  
  
  
  
</mapper>