<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newdeal.bikyeo.board.dao.BoardDao">

  <select id="getboardlist" resultType="boardDto">	  
	    select * from board 
 
 </select>
  

  <select id="boardread" resultType="boardDto">
    select b_Num, b_Content, b_regdate, b_Subject
    from board where b_Num = #{b_Num}
  </select>

  <insert id="boardWrite">
    insert into board (b_Subject, m_Email,b_Content)
    values (#{b_Subject},#{m_Email},#{b_Content}) 
  </insert>
  
  <update id="boardModify" parameterType="boardDto">
    update board set
    b_Subject = #{b_Subject},
    b_Content = #{b_Content}
   where b_Num = #{b_Num}
  </update>

  <delete id="delete">
    delete from board where b_Num = #{b_Num}
  </delete>

</mapper>