<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newdeal.bikyeo.cycle.dao.CycleShareDao">
  <insert id="rent" parameterType="cycleDto">
    insert into share 
    (m_Email,p_Num,c_Code,s_Sdate,s_Pdate)
    values 
    (#{shareDto.m_Email},#{p_Num},#{c_Code},NOW(),DATE_ADD(NOW(), INTERVAL #{rent_hour} HOUR)) 
  </insert>

  <select id="returncycle" parameterType="String" resultType="cycleDto">
    select c.c_Code,c.c_Move,s.s_Pdate 
       from cycle c 
       join share s 
       on c.c_Code = s.c_Code 
     where s.m_Email = #{m_Email} and s_Edate is null
  </select>
  
  <update id="recycle" parameterType="cycleDto">
    update share 
    set s_Edate = NOW() 
    where m_Email = #{shareDto.m_Email} 
    and c_Code = #{c_Code} and s_Edate is null
  </update>
  
  <select id="selectsnum" parameterType="cycleDto" resultType="int">
   select s_Num from share 
    where m_Email = #{shareDto.m_Email} 
    and c_Code = #{c_Code} and s_Edate IS NULL
  </select>
  
  
</mapper>