<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newdeal.bikyeo.cycle.dao.CycleDao">
  <select id="cycle" parameterType="int" resultType="cycleDto">
    select c_Code,p_Num,c_Status,c_Move,
      (select count(c_Code) cyclecount 
        from cycle where c_Move= #{p_Num} and c_Status=0) cyclecount 
      from cycle
      where c_Move=#{p_Num}
   </select>
  
  <update id="cyclerent" parameterType="cycleDto">
    update cycle set c_Status = 1 , c_Prev = c_Move where c_Code = #{c_Code}
  </update>
  
  <update id="retucycle" parameterType="cycleDto">
    update cycle set c_Status = 0, c_Move = #{c_Move} where c_Code = #{c_Code}
  </update>
  
  <select id="placecheck" parameterType="cycleDto" resultType="int">
   select count(c_Code) from cycle where c_Move = #{c_Move}
  </select>
  
</mapper>