<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newdeal.bikyeo.member.dao.MemberDao">
  <select id="searchId" parameterType="String" resultType="int">
    select count(*) 
    from member 
    where m_Email = #{m_Email}
  </select>
  
  <insert id="memberInsert" parameterType="memberDto">
    insert into member (m_Email, m_Pwd, m_Name, m_Gender, m_Phone, enabled, m_Regdate, m_Update) 
    values (#{m_Email}, #{m_Pwd}, #{m_Name}, #{m_Gender}, #{m_Phone}, #{enabled}, now(), now()) 
  </insert>
  
  <insert id="memberAuthInsert" parameterType="String">
    insert into member_auth (m_Email, a_Code)
    values (#{m_Email}, 1)
  </insert>
  
  <update id="memberConfirm" parameterType="String"> 
    update member set enabled=1
    where m_Email = #{m_Email}
  </update>
</mapper>